* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: 'Emilys Candy', cursive;
    width: 100%;

}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("./imgs/yellow-wood-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.main {
    display: block;
    padding-top: 65px;
}

.navbar, nav {
    background-color: #070792;
    color: white;
    font-family: 'Abril Fatface', cursive;
    width: 100%!important;
    height: 65px!important;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: block;

}

a, li {
    padding: 0!important;
}

h1 {
    font-size: 70px;
    font-family: 'Abril Fatface', cursive;
    color: #070792;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.3);
    display: block;
}

.landing {
    font-size:200px!important;
    font-family: 'Abril Fatface', cursive;
    color: #070792;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.3);
    display: block;

}

.about, .skills, .contact, .connect, .projects {
    /*background-color: #e7dabf8c;*/
    background-color: rgba(255, 255, 255, .5);
    display: block;

}

.text {
    font-family: "Abril Fatface", cursive;
    color: #070792;
    font-size: 25px;
}

.logo {
    background-color: white;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    margin: 25px 10px 0 10px;
}

.logo-large {
    background-color: white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 25px 10px 0 10px;
}

.card-title {
    font-size: 35px!important;

}

.myphoto {
    height: 300px;
    width: auto;
}

.navflex {
    display: flex;
    justify-content: space-around;
    height: 65px!important;
}

.outside-link {
    color: #4086ff;
}

.outside-link:visited {
    color: #8e3499;
}

.outside-link:hover {
    color: #e28819;
}

.outside-link:active {
    color: #fe7920;
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }

    50% {
        transform: translateY(10px);
    }

    /*80% {*/
    /*    transform: translateY(-40px);*/
    /*}*/

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    /*50% {*/
    /*    transform: translateX(-10px);*/
    /*}*/

    /*80% {*/
    /*    transform: translateX(10px);*/
    /*}*/

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }


    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.moriah {
    animation-name: moveInTop;
    animation-duration: 1.25s;
    animation-timing-function: ease-out;
    backface-visibility: hidden;
}

.humphries {
    animation-name: moveInRight;
    animation-duration: 1.25s;
    animation-timing-function: ease-in;
    backface-visibility: hidden;
}

.dev {
    animation-name: moveInBottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    backface-visibility: hidden;
}

